---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main
		class="max-w-2xl mx-auto flex flex-col items-center bg-violet-50 h-screen"
	>
		<div
			class="flex items-center justify-between w-full bg-violet-300 px-2 py-1 mb-3"
		>
			<img src="/zion.webp" alt="Ronni" width={48} class="rounded-full" />
			<h1 class="text-2xl font-semibold">Rebecca's Birthday In Zion</h1>
			<img src="/critr3.webp" alt="rope" width={48} />
		</div>

		<table>
			<thead>
				<tr class="bg-violet-300 text-left">
					<th class="py-2 px-3">Activity</th>
					<th class="py-2 px-3">Notes</th>
				</tr>
			</thead>
			<tbody>
				<tr class="even:bg-violet-100 odd:bg-violet-200 text-left">
					<td class="py-1 px-2">
            <p>Saturday</p>
						<a href="https://ropewiki.com/Dothraki" class="underline">
							Dothraki Canyon
						</a>
					</td>
					<td class="py-1 px-2">
						<p>
							<span>5:00/6:00UT CJ leaves Vegas</span>
						</p>
						<p>7:00/8:00UT Pick up Rebeca and Sandy</p>
						<p>7:30/8:30UT Start Canyon</p>
						<p>10:30/11:30UT Canyon Drop In</p>
						<p>4:30/5:30UT Finish Canyon</p>
						<p>4 miles, 17 raps, 150 max, 1800 ft vertical</p>
					</td>
				</tr>
				<tr class="even:bg-violet-100 odd:bg-violet-200 text-left">
					<td class="py-1 px-2">
            <p>Sunday</p>
						<a
							href="https://www.mountainproject.com/area/106148102/lady-mountain"
							class="underline">Lady Mountain</a
						>
					</td>
					<td class="py-1 px-2">
						<div>
							<p>4:30/5:30UT Wake</p>
							<p>5:30/6:30UT Leave accommodations</p>
							<p>6:15/7:15 Catch shuttle to the Lodge</p>
							<p>6:45/7:45 Start hike</p>
							<p>
								3:30 Get <a
									href="https://www.recreation.gov/permits/4251915"
									class="underline">Behunin Permit</a
								> if needed
							</p>
						</div>
					</td>
				</tr>
				<tr class="even:bg-violet-100 odd:bg-violet-200 text-left">
					<td class="py-1 px-2">
            <p>Monday</p> 
						<a href="https://ropewiki.com/Behunin_Canyon" class="underline">
							Behunin Canyon
						</a>
					</td>
					<td class="py-1 px-2">
						<div>
							<p>4:15/5:15UT Wake</p>
							<p>5:15/6:15UT Leave accommodations</p>
							<p>6:00/7:00UT Catch first shuttle to the Grotto</p>
							<p>6:30/7:30UT Start Canyon</p>
							<p>10:30/11:30UT Canyon Drop In Or Bail base on snow</p>
							<p>6.8 miles, 9 raps, 170 max, 2700 ft vertical</p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<ul class="list-disc list-inside mt-4 px-2">
			<li>
				Optional Sunday or Monday canyons
				<ul class="list-disc list-inside pl-3">
					<li>
						<a
							href="https://ropewiki.com/Yankee_Doodle_Hollow"
							class="underline"
						>
							Yankee Doodle Hollow
						</a> 1 mile, 5 raps, 75 ft max, 240 ft vertical,
					</li>
					<li>
						<a href="https://ropewiki.com/Boltergeist_Canyon" class="underline">
							Boltergeist Canyon
						</a> 1.1 mile, 6 raps, 150 ft max,
					</li>
					<li>
						<a href="https://ropewiki.com/Hidden_Star_Canyon" class="underline">
							Hidden Star Canyon
						</a> 1.2 miles, 2 raps, 200 ft max, 500 ft vertical, keeper pot hole
					</li>
					<li>
						<a href="https://ropewiki.com/Pictograph_Canyon" class="underline">
							Pictograph Canyon
						</a> 3 miles, 8 raps, 140 max, 1000 ft vertical.
					</li>
					<li>
						Can do the first two or three or just the last one in one day.
					</li>
					<li>
						Hidden Star Canyon will require a wetsuit/drysuit for the pothole escape.
					</li>
				</ul>
			</li>
      <li>The <a href="https://www.nps.gov/zion/planyourvisit/zion-canyon-shuttle-system.htm" class="underline">Zion Shuttle</a> is operational as of Saturday 3/7/26.</li>
      <li><a href="https://www.zioncanyonhotsprings.com/" class="underline">Zion Canyon Hot Springs</a></li>
		</ul>
	</main>
</Layout>
